body{
    text-align: center;
   
   margin: 100px; 
    
}

form {
    background: rgb(236, 230, 218);
    padding: 30px;
    width: 90%;
    max-width: 900px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
#infos {
    grid-column: span 2;     
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
input,select{
  
    padding:10px;
   
    margin-top: 5px;
    margin-bottom: 5px;
    /* grid-template-columns: auto auto ;  */
}
.submit{
width: 100%;
color: white;
background: rgb(71, 163, 71);
grid-column: span 2;
}
table{
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
    
    

}
#tabData{
    background-color: aliceblue;
}
tr{
    text-align: center;
   
    padding: 10px;
    
}
thead th {
     background: black; 
    color: white;
    font-weight: bold;
    font-size: 16px;
}


