body{
    text-align: center;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
   
   margin-top: 40px; 
    
}


form {
    padding: 40px;
    border-radius: 10px;
    background: white;
    width: 80%;
    margin: auto;             
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
form h1 {
    grid-column: span 2;   
    text-align: left;      
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
}


input,select{
  
    padding:10px;
   
    margin-top: 5px;
    margin-bottom: 5px;
    
}
input[type='numbre']{
    padding:10px;
   
    margin-top: 5px;
    margin-bottom: 5px;
}
#infos {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.submit{
width: 100%;
color: white;
background: #27a844;
border: none;
border-radius: 3px;
padding: 12px;
grid-column: span 2;
}
#tableResults {
    display: none;
    
    margin: 40px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid 2px rgb(76, 76, 76);
}

tr {
    text-align: center;
    color: black;
    padding: 10px;
    
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

thead th {
   
    color: white;
    font-weight: bold;
     background: rgb(81, 81, 81); 
    font-size: 16px;
}

